<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to ''}}{{/link-to}}</li>
      <li>{{#link-to ''}}{{/link-to}}</li>
      <li>{{#link-to ''}}{{/link-to}}</li>
    </ul>
  </nav>
</div>

<div class="text-center">
{{outlet}}
</div>
